<!DOCTYPE html>
<html>
  <head>
    <title>Oneliner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    
    
<div id="upload"><a href="#">Click</a></div>  
<div id="uploader"></div>Mooooooonsick</div>


    {{{body}}}
    
        <script>            
$(document).ready(
    function() {
        $("#upload").click(function() {
            $("#uploader").toggle();
        });
    });
</script>
  </body>
</html>
