<div class="upldform">
		<form action="/create">
		    IMAGE URL <input type="text" name="preposition">
		    <br><br>
		    YOUR NAME <input type="text" name="noun"><br>
		    <br><br>
		    <input type="submit">
		    <br><br>
		    <a href="/">Cancel</a>
		</form>    
</div>